@using marketplace.DTO.SystemManager.User
@using marketplace.DTO.Common;
@model UserDTO

@{
    ViewData["Title"] = "User View Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

    var apiResult = (ApiResult<string>)ViewData["ApiResult"];
}


<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Chi tiết tài khoản</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form id="loginForm" asp-action="Login" asp-controller="User" method="POST">
                <div class="card-body">
                    <div class="form-group">
                        <label>Tên tài khoản</label>
                        <input type="text" class="form-control" asp-for="Username" value="@Model.Username">
                    </div>
                    <div class="form-group">
                        <label>Họ và tên</label>
                        <input type="text" class="form-control" asp-for="FullName" value="@Model.FullName">
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-6">

    </div>
    <!--/.col (right) -->
</div>
<!-- /.row -->