@using marketplace.DTO.Component

@{
  var contentNavigation = (ContentNavigationDTO)ViewData[ViewDataConst.ContentNavigation];
}

<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-left">
          @* <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Daxxxshboard v1</li> *@
          @if (contentNavigation == null)
          {
            <li class="breadcrumb-item"><a href="/">Home</a></li>
          }
          else
          {
            foreach (var item in contentNavigation.NavigationDTO)
            {
              var url = "/" + item.Url;
              <li class="breadcrumb-item"><a href="@url">@item.Name</a><span>/</span></li>
            }
          }
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->