<a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
    class="nav-link dropdown-toggle">
    Địa điểm
</a>
<ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow dropdown-menu-lg">
    <li>
        <div class="dropdown-item">
            <p>Bắc Trung Bộ</p>
            <p><a href="/address/thanh-hoa">Thanh Hóa</a>
            </p>
        </div>
    </li>
    <li><a href="#" class="dropdown-item">Some other action</a></li>
</ul>
