@using marketplace.Utilities.Const
<!-- Sidebar user (optional) -->
<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        <img src="/user-content/images/060cd7c8-8839-4216-b805-fd122c900e10.png" class="img-circle elevation-2"
            alt="User Image">
    </div>
    <div class="info">
        <a href="#" class="d-block">Khách chưa đăng nhập</a>
    </div>
</div>
<div>
    <a href="@UrlConst.user_login_get">Đăng nhập</a>
</div>
<div>
    <a href="@UrlConst.user_register_get">Đăng kí</a>
</div>