@using marketplace.DTO.SystemManager.RBAC
@using marketplace.DTO.Common;
@using marketplace.Utilities.Const
@model RoleDTO

@{
    ViewData["Title"] = "User Login Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

    var apiResult = (ApiResult<PageEntityDTO<RoleDTO>>)ViewData["ApiResult"];
}

@{
    if (apiResult == null)
    {
        return;
    }

    //// NULL 
    var roleDTOs= apiResult.Data.PageContent;
    var currentPage = apiResult.Data.Page;
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Dữ liệu</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th style="width: 40px">Label</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var i = 1;

                            foreach (var roleDTO in roleDTOs)
                            {
                                <tr>
                                    <td>@i.</td>
                                    <td>@roleDTO.Name</td>
                                    <td>@roleDTO.Description</td>
                                    <td><span class="badge bg-danger">Delete</span></td>
                                </tr>
                                i += 1;
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                    <li class="page-item"><a class="page-link" asp-action="Index" asp-controller="Role"
                            asp-route-page="@{var p = currentPage - 1; @p}">&laquo;</a></li>
                    <li class="page-item"><a class="page-link" href="#">@currentPage</a></li>
                    <li class="page-item"><a class="page-link" asp-action="Index" asp-controller="Role"
                            asp-route-page="@{var n = currentPage + 1; @n}">&raquo;</a></li>
                </ul>
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>