@{
    var messagesViewData = ViewData["messages"];
    var messages = new List<string>();
    if (messagesViewData == null)
    {
        return;
    }
    messages = (List<string>)messagesViewData;

}


@if (messages != null)
{
    <div class="content-header">
        <div class="container-fluid">
            <div class="card" id="MPmessages">
                <div class="card-body">
                    @foreach (var item in messages)
                        {
                            @item <br/>
                        }
                </div>
                <div class="card-body">
                    <span id="deleteMPmessages">DELETE</span>
                </div>
            </div>
        </div>
    </div>
}